<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737812282087-dbaooumum2haq9s0mco0kmt6lpofti2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737812282087-dbaooumum2haq9s0mco0kmt6lpofti2p</string>
	<key>API_KEY</key>
	<string>AIzaSyC1PohGY5AcgjQPEMMQcks51y8GlDo4Vjs</string>
	<key>GCM_SENDER_ID</key>
	<string>737812282087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ICE</string>
	<key>PROJECT_ID</key>
	<string>investment-club-europe-307106</string>
	<key>STORAGE_BUCKET</key>
	<string>investment-club-europe-307106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737812282087:ios:5521dd9462b57ea8618042</string>
</dict>
</plist>